.blog-header-logo{
  font-family: 'Times New Roman', Times, serif;
  font-weight: 900;
  font-size: 2.5rem;
}

.times-font{
  font-family: 'Times New Roman', Times, serif!important;
  font-weight: 600!important;
}